.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.addTDList {
    height: 70px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 10px;
}

.error {
    color: red;
}

input.error {
    border: 1px solid red;
}

.activeFilter {
    background-color: aquamarine;
}

.completedTasks {
    opacity: 0.5;
}
