.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.error {
    color: red;
}

input.error {
    border: 1px solid red;
}

.activeFilter {
    background-color: aquamarine;
}

.completedTasks {
    opacity: 0.5;
}
